/* link, :visited, hover, active */

a:link{
    color: orange;
}
a:hover{
    color: green;
}
a:active{
    color: black ;
}
p:hover{
    color: green;
}

p:active{
    background: #ccc;
}